.container {
  composes: default-font from "../typography.css";
  color: #fff;
  width: 50%;
  float: right;
  font-size: 22px;
}

.inner {
  padding: 0 30px;
}

.faqIcon {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
