.container {
  composes: default-font from "../typography.css";
  width: 50%;
  float: left;
}

.table {
  border-collapse: collapse;
  font-size: 20px;
  text-decoration: underline;
  background-color: #fff;
  width: 100%;
}

.areaCol {
  width: 200px;
  text-align: right;
  padding-right: 20px;
}

.row {
  height: 45px;
}

.rowInactive {
  composes: row;
}

.rowInactive:nth-child(odd) {
  background-color: #eee;
}

.rowActive {
    composes: row;
    background-color: #FFFACD;
}

.rowInactive .areaCol {
  cursor: pointer;
}

.colorImage {
  height: 35px;
  padding: 0px 5px;
  vertical-align: middle;
}

.tip {
  padding: 15px;
  background-color: lightgreen;
}
