.container {
  composes: default-font from "../typography.css";
  color: #fff;
  background-color: #3e3e40;
  width: 50%;
  float: right;
}

.inner {
  padding: 0 30px;
}

.responseCardsMockup {
  width: 90%;
}

