.outerContainer {
  background-color: #3e3e40;
}
.container {
  composes: default-font from "../typography.css";
  color: #fff;
  width: 50%;
  float: right;
  font-size: 22.5px;
}

.inner {
  padding: 0 30px;
}

.responseCardsMockup {
  width: 90%;
}

.faqIcon {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
